.gitignore
core
Makeconf
Makefile
Makefrag.cc
Makefrag.cc_lo
Makefrag.cxx
Makefrag.m
config.log
config.status
doc/Makefile
doc/html/Makefile
doc/manual/Makefile
etc/Makeconf
etc/Makefile
etc/Renviron
etc/javaconf
etc/ldpaths
libtool
m4/Makefile
po/Makefile
share/Makefile
src/Makefile
src/appl/Makefile
src/extra/Makefile
src/extra/blas/Makefile
src/extra/bzip2/Makefile
src/extra/intl/Makefile
src/extra/pcre/Makefile
src/extra/tre/Makefile
src/extra/xdr/Makefile
src/extra/xz/Makefile
src/extra/zlib/Makefile
src/include/Makefile
src/include/R_ext/Makefile
src/include/Rmath.h0
src/include/config.h
src/include/stamp-h
src/library/Makefile
src/library/Recommended/Makefile
src/library/base/DESCRIPTION
src/library/base/Makefile
src/library/compiler/DESCRIPTION
src/library/compiler/Makefile
src/library/datasets/DESCRIPTION
src/library/datasets/Makefile
src/library/grDevices/DESCRIPTION
src/library/grDevices/Makefile
src/library/grDevices/src/Makefile
src/library/grDevices/src/cairo/Makefile
src/library/graphics/DESCRIPTION
src/library/graphics/Makefile
src/library/graphics/src/Makefile
src/library/grid/DESCRIPTION
src/library/grid/Makefile
src/library/grid/src/Makefile
src/library/methods/DESCRIPTION
src/library/methods/Makefile
src/library/methods/src/Makefile
src/library/parallel/DESCRIPTION
src/library/parallel/Makefile
src/library/parallel/src/Makefile
src/library/profile/Makefile
src/library/splines/DESCRIPTION
src/library/splines/Makefile
src/library/splines/src/Makefile
src/library/stats/DESCRIPTION
src/library/stats/Makefile
src/library/stats/src/Makefile
src/library/stats4/DESCRIPTION
src/library/stats4/Makefile
src/library/tcltk/DESCRIPTION
src/library/tcltk/Makefile
src/library/tcltk/src/Makefile
src/library/tools/DESCRIPTION
src/library/tools/Makefile
src/library/tools/src/Makefile
src/library/translations/DESCRIPTION
src/library/translations/Makefile
src/library/utils/DESCRIPTION
src/library/utils/Makefile
src/library/utils/src/Makefile
src/main/Makefile
src/modules/Makefile
src/modules/X11/Makefile
src/modules/internet/Makefile
src/modules/lapack/Makefile
src/modules/vfonts/Makefile
src/nmath/Makefile
src/nmath/standalone/Makefile
src/scripts/Makefile
src/scripts/R.sh
src/scripts/Rcmd
src/scripts/f77_f2c
src/scripts/mkinstalldirs
src/scripts/pager
src/unix/Makefile
tests/Embedding/Makefile
tests/Examples/Makefile
tests/Makefile
tests/Native/Makefile
tools/Makefile
*.o
*.d
*.fe
*.so
*.a
*.ts
*.tsa
*~
/NEWS
/NEWS.pdf
/bin/
/doc/NEWS.rds
/doc/R.1
/doc/html/index.html
/doc/html/packages.html
/doc/manual/R-FAQ.html
/doc/manual/R-admin.html
/doc/manual/R-data.html
/doc/manual/R-exts.html
/doc/manual/R-intro.html
/doc/manual/R-ints.html
/doc/manual/R-lang.html
/doc/manual/version.texi
/etc/Makeconf.old
/etc/ldpaths.old
/src/include/R_ext/stamp-R
/src/include/Rconfig.h
/src/include/Rmath.h
/src/include/Rversion.h
/src/library/Recommended/stamp-recommended
/src/library/stamp-docs
Makedeps
src/main/R.bin
src/unix/Rscript
src/library/*.inn
src/include/stamp-R
/include/
/library/
all.R
/stamp-java
/tests/*.pdf
/tests/*.Rout
/tests/ex.gz
/tests/exNSS4_1.0.tar.gz
/tests/myTst2/
/tests/pkgA_1.1.tar.gz
/tests/pkgB_1.0.tar.gz
/tests/Examples/*-Ex.R
/tests/Examples/*-Ex.Rout
/tests/Examples/*-Ex.pdf
/tests/*.Rout.fail
/tests/*.Rout.prev
/tests/Examples/*.Rout.prev
autom4te.cache
acinclude.m4
aclocal.m4
.RData
